<div class="max-w-full mt-5">
  <section class="mx-auto">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900">Edit Todo</h2>
      <form #addTodoForm="ngForm" (ngSubmit)="saveTodo(addTodoForm.value)">
        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
          <div class="sm:col-span-2">
            <label
              for="title"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Title</label
            >
            <input
              type="text"
              name="title"
              id="title"
              class="bg-slate-50 text-gray-900 text-sm rounded-lg block w-full p-2.5 outline-none"
              placeholder="Title"
              required=""
              ngModel
            />
          </div>
          <div class="w-full">
            <label
              for="tags"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Tags</label
            >
            <input
              type="text"
              name="tags"
              id="tags"
              class="bg-slate-50 text-gray-900 text-sm rounded-lg block w-full p-2.5 outline-none"
              placeholder="Tags"
              required=""
              [(ngModel)]="tag"
            />
            <div class="flex gap-1">
              <!-- <div *ngFor="let tag of selectedTodo?.tags" class="">
                      <span class="text-xs font-medium bg-slate-300 rounded py-[2px] px-1">{{tag}}</span>
                    </div> -->
            </div>
          </div>
          <div class="w-full">
            <label
              for="status"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Status</label
            >
            <select
              id="status"
              name="status"
              class="bg-slate-50 text-gray-900 text-sm rounded-lg block w-full p-2.5 outline-none"
              ngModel
            >
              <option value="PENDING">PENDING</option>
              <option value="IN PROGRESS">IN PROGRESS</option>
              <option value="DONE">DONE</option>
            </select>
          </div>
          <div class="sm:col-span-2">
            <label
              for="description"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Description</label
            >
            <textarea
              id="description"
              name="description"
              rows="8"
              class="block p-2.5 w-full text-sm text-gray-900 bg-slate-50 rounded-lg outline-none"
              placeholder="Todo..."
              ngModel
            ></textarea>
          </div>
        </div>
        <button
          type="submit"
          class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-semibold text-center text-white bg-sky-700 rounded-lg hover:ring-4 focus:ring-4"
        >
          Add Todo
        </button>
      </form>
    </div>
  </section>
</div>
